<div class="card-container">
  <mat-card>
    <mat-card-title class="card-title">
      Üdvözöljük a MobilPlusz-nál!
    </mat-card-title>
    <mat-card-content>
      <p class="card-text">
        A MobilPlusz a legjobb mobilcsomagokat kínálja, hogy Ön mindig kapcsolatban maradhasson a világgal. Legyen szó beszélgetésekről, adatkapcsolatról vagy nemzetközi roamingról, nálunk mindent megtalál, amire szüksége lehet.
      </p>
      <p class="card-text">
        Miért válassza a MobilPluszt?
      </p>
      <ul class="card-list">
        <li>Széles választék: Kínálatunkban megtalálhatóak az otthoni és külföldi hívásokhoz ideális csomagok. Válassza ki az igényeinek legmegfelelőbbet!</li>
        <li>Korlátlan kommunikáció: Hosszú beszélgetések, üzenetek küldése és megosztása barátaival és családjával, bárhol is tartózkodik.</li>
        <li>Gyors adatkapcsolat: Élvezze a sebességet és a megbízhatóságot, amikor internetezik, böngészik vagy letöltéseket hajt végre.</li>
        <li>Nemzetközi roaming: Utazzon bárhová a világon, és maradjon kapcsolatban a szeretteivel és üzleti partnereivel anélkül, hogy aggódnia kellene a költségek miatt.</li>
      </ul>
      <p class="card-text">
        Nálunk a mobilkommunikáció mindenki számára elérhetővé válik. Csapatunk mindig készen áll, hogy segítsen Önnek megtalálni a tökéletes csomagot, és biztosítsa, hogy mindig a legjobb szolgáltatást kapja.
      </p>
      <p class="card-text">
        Csatlakozzon hozzánk a MobilPluszban, és tapasztalja meg a hatékony és megbízható mobilkommunikáció előnyeit!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/plans"><mat-icon>sim_card</mat-icon>Csomagok</button>
    </mat-card-actions>
  </mat-card>
</div>
